<!DOCTYPE html>
<html>

<head>
    <title>Login and Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .login-form {
            background-color: #000;
            color: #fff;
        }

        .register-form {
            background-color: #000;
            color: white;

        }
    </style>
</head>

<body>
    <div class="container" style="display: flex;">

        <div class="col-md-5 login-form">
            <h1 style="color:rgb(0, 110, 255);">Login</h1>
            <form method="POST" action="/login">
                <div class="form-group" name="login_email">
                    {% with messages = get_flashed_messages(category_filter = ['user_error']) %}
                    {% if messages %}
                    {% for message in messages %}
                    <p style="color: red;">{{ message }}</p>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="login_email">
                </div>
                <div class="form-group">
                    {% with messages = get_flashed_messages(category_filter = ['user_error']) %}
                    {% if messages %}
                    {% for message in messages %}
                    <p style="color: red;">{{ message }}</p>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="login_password" name="login_password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>




        <div class="col-md-5 register-form" style="margin-left: 80px; padding-bottom: 20px;">
            <h1 style="color: #00ff00;">Registration</h1>




            <form method="POST" action="/create">
                <div>
                    <label for="first_name">
                        {% with messages = get_flashed_messages(category_filter = ['first_name']) %}
                        {% if messages %}
                        {% for message in messages %}
                        <p style="color: red;">{{ message }}</p>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <div class="form-group">
                            <label for="first_name">First Name</label>
                            <input type="text" class="form-control" id="first_name" name="first_name">
                        </div>

                        {% with messages = get_flashed_messages(category_filter = ['last_name']) %}
                        {% if messages %}
                        {% for message in messages %}
                        <p style="color: red;">{{ message }}</p>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input type="text" class="form-control" id="last_name" name="last_name">
                        </div>

                        {% with messages = get_flashed_messages(category_filter = ['email']) %}
                        {% if messages %}
                        {% for message in messages %}
                        <p style="color: red;">{{ message }}</p>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email">
                        </div>

                        {% with messages = get_flashed_messages(category_filter = ['password']) %}
                        {% if messages %}
                        {% for message in messages %}
                        <p style="color: red;">{{ message }}</p>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>

                        {% with messages = get_flashed_messages(category_filter = ['password_error']) %}
                        {% if messages %}
                        {% for message in messages %}
                        <p style="color: red;">{{ message }}</p>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <div class="form-group">
                            <label for="password_confirmation">Confirm Password</label>
                            <input type="password" class="form-control" id="password_confirm"
                                name="password_confirm" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>

    </div>
</body>

</html>